In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [2]:
2+9

11

In [3]:
2*9

18

In [4]:
2/9

0.2222222222222222

In [5]:
2+3*9

29

In [6]:
(2 + 3) * 9

45

In [7]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

16

In [8]:
'hello'

'hello'

In [9]:
2 ** .5

1.4142135623730951

## Names ##

In [10]:
a = 4

In [11]:
a

4

In [12]:
b = 9

In [13]:
b

9

In [14]:
a * 3

12

In [15]:
a + b

13

In [16]:
a + c

NameError: name 'c' is not defined

In [17]:
c = 3

In [18]:
a + c

7

In [19]:
total = a + c

In [20]:
total

7

In [21]:
total = a** b
total

262144

In [22]:
'total'

'total'

### Why Names?

In [23]:
hours_per_week = 40
weeks_per_year = 52

In [24]:
 hours_per_year = hours_per_week * weeks_per_year

In [25]:
hours_per_year

2080

In [26]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
ca_hourly_minimum_wage = 14

In [27]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

560

In [28]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

29120

In [29]:
40 * 13.00

520.0

In [30]:
40 * 52 * 13.00

27040.0

## Functions and Call Expressions

In [31]:
abs(-5)

5

In [32]:
abs(1-3)

2

In [33]:
min(14, 22)

14

In [34]:
min(14, 22, -5)

-5

In [36]:
min(2.3, -4.5, abs(7 -5))

-4.5

In [37]:
round(123.456)

123

In [38]:
round(123.456, 1)

123.5

In [39]:
round(123.456, 2)

123.46

In [40]:
round(123.453, 2)

123.45

In [41]:
round(123.456, ndigits=2)

123.46

In [42]:
str(5)

'5'

In [43]:
5+4

9

In [47]:
'5'+ "4"

'54'

In [49]:
print("Today is " + "9")

Today is 9

In [50]:
a = str(9)
a

'9'

In [52]:
print ("Today is " + a)

Today is 9

## Tables ##

In [54]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [55]:
cones.show(3)

In [56]:
cones.show()

In [57]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [58]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [59]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [60]:
cones_without_color = cones.select('Flavor', 'Price')
cones_without_color

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [61]:
cones.drop('Color')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [62]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [63]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [65]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers