In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

## Lecture 10 ##

## Apply -- review

In [ ]:
staff = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
staff

In [ ]:
# staff.apply(..., 'Birth Year')

In [ ]:
def name_and_age(name, year):
    age = 2021 - year
    return name + ' is ' + str(age) + ' old.'

In [ ]:
staff.apply(name_and_age, 'Person', 'Birth Year')

## Grouping by One Column ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.drop('Color').group('Flavor', np.average)

In [ ]:
cones.drop('Color').group('Flavor', min)

## Lists

In [ ]:
[1, 5, 'hello', 5.0]

In [ ]:
[1, 5, 'hello', 5.0, make_array(1,2,3)]

In [ ]:
simple_list = ['hello', 7, 3.14, True]
simple_list

In [ ]:
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]
crowded_list

In [ ]:
Table().with_columns('Numbers', [1, 2, 3])

In [ ]:
store = Table(['Color', 'Shape', 'Amount', 'Price($)'])
store

In [ ]:
store = store.with_rows([
    ['Red', 'Round', 4, 1.3],
    ['Green', 'Rectangular', 6, 1.2],
    ['Blue', 'Rectangular', 12, 2.],
    ['Red', 'Round', 7, 1.75],
    ['Green', 'Rectangular', 9, 1.4],
    ['Green', 'Round', 2, 1.]
])
store

## Gourping by Two Columns

In [ ]:
cones

In [ ]:
cones.group(['Flavor','Color'])

In [ ]:
cones.group(['Flavor','Color'], max)

In [ ]:
cones.group(['Flavor','Color'], list)

In [ ]:
cones.group(['Flavor','Color'], np.average)

## Discussion

In [ ]:
store

In [ ]:
store.group('Color')

In [ ]:
store.group(['Color', 'Shape'])

In [ ]:
store.group('Shape', np.average)

In [ ]:
store.select('Shape', 'Price($)').group('Shape', np.average)

In [ ]:
store.drop('Color', 'Amount').group('Shape', np.average)

## Pivot

In [ ]:
store

In [ ]:
store.group(['Color', 'Shape'])

In [ ]:
# pivot shows a grid
store.pivot('Shape', 'Color')

In [ ]:
store.pivot('Shape', 'Color', values='Price($)', collect=np.average)

In [ ]:
store.pivot('Shape', 'Color', values='Amount', collect=max)

In [ ]:
store.group(['Shape', 'Color'], max)

## Another Example

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

## 1. For each city, what’s the tallest building for each material?

In [ ]:
sky.select('material', 'city', 'height').group(['city', 'material'], collect=max)

In [ ]:
sky_p = sky.pivot('material', 'city', values='height', collect=max)
sky_p.show()


## 2. For each city, what’s the height difference between the tallest steel building and the tallest concrete building?

In [ ]:
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
sky_p.sort('difference', descending=True)