### Data 80A/180A Data Science for Everyone

# Homework 5: Functions, Histograms, and Groups

###  43 Points 

## Due Friday, October 1 by 11:59PM

**Reading**: 

* [Chapter 7.2 Visualizing Numerical Distributions](https://inferentialthinking.com/chapters/07/2/Visualizing_Numerical_Distributions.html) 
* [Chapter 8 Functions and Tables](https://inferentialthinking.com/chapters/08/Functions_and_Tables.html)

Throughout this homework and all future ones, please be sure to **not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Moreover, please be sure to only put your written answers in the provided cells.

In [ ]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

# These lines do some fancy plotting magic."
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

import otter
grader = otter.Notebook()

## 1. Burrito-ful San Diego

Tam, Margaret and Winifred are trying to use Data Science to find the best burritos in San Diego! Their friends Irene and Maya provided them with two comprehensive datasets on many burrito establishments in the San Diego area taken from (and cleaned from) [here.](https://www.kaggle.com/srcole/burritos-in-san-diego/data)

The following cell reads in a table called `ratings` which contains names of burrito restaurants, their Yelp rating, Google rating, as well as their Overall rating. It also reads in a second table called `burritos_types` which contains names of burrito restaurants, their menu items, and the cost of the respective menu item at the restaurant.

In [ ]:
#Just run this cell
ratings = Table.read_table("ratings.csv")
ratings.show(8)
burritos_types = Table.read_table("burritos_types.csv")
burritos_types.show(8)

**Question 1.1. (3 pts)** From the `burritos_types` table, create a table that shows the average cost of each `Menu_Item` across all restaurants.

*Hint:* Table 1 displays the expected output.

In [ ]:
...

Table 1

<img src="Q1.1_table.PNG">

It would be easier if we combine the information in both tables into a single table using the method `join`. 


For a refresher on the `join` method, read [section 8.4 of the textbook](https://www.inferentialthinking.com/chapters/08/4/Joining_Tables_by_Columns.html).

In [ ]:
burritos = burritos_types.join("Name", ratings)
burritos

**Question 1.2. (3 pts)** Let's look at how the Yelp scores compare to the Google scores in the `burritos` table. First, assign `yelp_and_google` to a table containing the columns `Yelp` and `Google` only. Then, make a scatter plot with Yelp scores on the x-axis and the Google scores on the y-axis. 

*Hint:* Graph 1 displays the expected output.

In [ ]:
yelp_and_google = ...
 ...
# Don't change/edit/remove the following line.
# To help you make conclusions, we have plotted a straight diagonal line on the graph (y=x)
plt.plot(np.arange(2.5,5,.5), np.arange(2.5,5,.5));

Graph 1

<img src="Q1.2_graph.PNG">

**Question 1.3. (2 pts)** Looking at the scatter plot you just made in Question 1.2, do you notice any pattern(s) (i.e. is one of the two types of scores consistently higher than the other one)? If so, describe them **briefly** in the cell below.

*Write your answer here, replacing this text.*

**Question 1.4. (3 pts)** Winifred thinks California burritos (see Menu_Item) are the best type of burritos and wants to see which restaurants offer California burritos and the overall rating for the restaurant. Create a table that has two columns: the name of the restaurant that offers California burritos and the overall rating at that restaurant.

*Hint:* Table 2 displays the expected output.

In [ ]:
california_burritos = ...
california_burritos

Table 2

<img src="Q1.4_table.PNG">

**Question 1.5. (3 pts)** Notice that the `california_burritos` table contains duplicates; for example, Cotixan restaurant appears twice. Using the `california_burritos` table, assign `cal_burritos` to a table that is the same as the `california_burritos` table but without duplicates.   

*Hint:* Use .group, and remember that you can group by multiple columns. Here's an example from the [section 8.3 of the textbook](https://www.inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html).

*Hint:* Table 3 displays the expected output.

In [ ]:
cal_burritos =  ...
cal_burritos

Table 3

<img src="Q1.5_table.PNG">

**Question 1.6. (3 pts)** Given this new table `cal_burritos`, Winifred can figure out the name of the restaurant with the highest overall rating!  Assign `best_restaurant` to the name of the restaurant with the highest overall rating.

In [ ]:
best_restaurant = ...
best_restaurant

In [ ]:
grader.check("q16")

**Question 1.7. (2 pts)** Plot a histogram that visualizes the distribution of the costs of the burritos from San Diego in the `burritos` table. Also use the provided `bins` setting (rather than the default bins setting) to get a more informative histogram.

*Hint:* Graph 1 displays the expected output.

In [ ]:
# Please use bins = np.arange(0, 15, 1)
cost_graph = ...
cost_graph

Graph 1

<img src="Q1.7_graph.PNG">

## 2. Faculty Salaries

The exercises in this section are designed to give you practice using the Table methods `pivot` and `group`. [Here](http://data8.org/fa21/python-reference.html) is a link to the Python reference page in case you need a quick refresher.

Run the cell below to view a demo on how you can use pivot on a table.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("4WzXo8eKLAg")

In the next cell, we load a dataset created by the [Daily Cal](http://projects.dailycal.org/paychecker/) which contains public information about UC Berkeley faculty, their departments, their positions, and their gross salaries in 2015.

In [ ]:
raw_profs = Table.read_table("faculty.csv").where("year", are.equal_to(2015)).drop("year", "title")
profs = raw_profs.relabeled("title_category", "position")
profs

We want to use this table to generate arrays with the names of each professor in each department.

**Question 2.1. (5 pts)** Set `prof_names` to a table with two columns. The first column should be called `department` and have the name of every department once, and the second column should be called `faculty_list` with each row in that second column containing an *array* of the names of all faculty members in that department.  We have added what the table output would look like below.

*Hint:* First, drop the irrelevant columns from `prof_names` so you can focus on just department and faculty. Think about how `group` works: it collects values into an array and then applies a function to that array. We have defined two functions below for you, and you will need to use one of them in your call to `group`.

*Hint:* Table 3 displays the expected output.

In [ ]:
# Pick one of the two functions defined below in your call to group.
def identity(array):
    '''Returns the array that is passed through'''
    return array 

def first(array):
    '''Returns the first item'''
    return array.item(0)

# Make a call to group using one of the functions above when you define prof_names
prof_names = ...
prof_names

Table 4

<img src="Q2.1_table.PNG">

**Understanding the code** you just wrote in response to Question 2.1 is important for moving forward with the class! If you made a lucky guess, take some time to look at the code, step by step.

**Question 2.2. (4 pts)** At the moment, the `name` column of the `profs` table is sorted by last name. Would the arrays you generated in the `faculty_list` column of the previous problem be the same if we had sorted by first name instead before generating them? Explain your answer.  

Note: Two arrays are the **same** if they contain the same number of elements and the elements located at corresponding indexes in the two arrays are identical. An example of arrays that are NOT the same: `array([1,2]) != array([2,1])`.

*Write your answer here, replacing this text.*

**Question 2.3. (3 pts)** Generate a histogram to visualize the `gross_salary` distribution of `professor` (i.e., `position` is `professor`) in the `profs` table.
The y-axis `Count` represents the number of professors with different gross_salary (i.e., set normed=False)  

*Hint:* Graph 2 displays the expected output.

In [ ]:
# histogram of 'professor' gross_salary
...

Graph 2

<img src="Q2.3_graph.PNG">

**Question 2.4. (3 pts)** What is the average gross salary of faculty holding the position of `professor`?

In [ ]:
# average gross salary of faculty holding the position of professor
avg_prof_salary = ...
avg_prof_salary

In [ ]:
grader.check("q24")

 **Question 2.5. (7 pts)** Set `department_ranges` to a table containing departments as the rows, and the position (there are four positions: assistant professor, associate professor, lecturer, professor) as the columns. The values in the rows should correspond to a salary range, where range is defined as the **difference between the highest salary and the lowest salary in the department for that position**. 

First, define a new function `salary_range` which takes in an array of salaries and returns the range of salaries in that array. Next, use the method `pivot` to create the `department_ranges` table, applying the `salary_range` function. See [section 8.3 Cross-Classifying](https://inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html) and the above video for a refresher on `pivot`.

*Hint:* Table 5 displays the expected output.  Interpretation: for the African American Studies department, the assistant professor salary range (highest salary - loweste salary) is *\$128,828*, while the associate professor salary range is *\$48,814*, and so forth.

In [ ]:
# Define salary_range first
 ...

department_ranges = ...
department_ranges

Table 5

<img src="Q2.5_table.PNG">

**Question 2.6. (2 pts)** Give an explanation as to why some of the row values are `0` in the `department_ranges` table from the previous question.

*Write your answer here, replacing this text.*


**You've completed Homework 5!**

Please save your notebook, download a pdf version of the notebook, and submit it to Canvas.